---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// custom CSS here
$base00: #f6f6f6;
$base01: #f6f6f6;
$base02: #f6f6f6;
$base03: #f6f6f6;
$base04: #f6f6f6;
$base05: #f6f6f6;
$base06: #f6f6f6;
$base07: #f6f6f6;
$base08: #f6f6f6;
$base09: #f6f6f6;
$base0a: #f6f6f6;
$base0b: #f6f6f6;
$base0c: #f6f6f6;
$base0d: #f6f6f6;
$base0e: #f6f6f6;
$base0f: #f6f6f6;
